@import 'blocks/calendar';

body {
    font-size: 15px;
}


*, *::after, *::before {
    box-sizing: border-box;
}

#calendar {
    width: 800px;
    padding: 32px 40px 0 40px;
}

.calendar__grid {
    width: 280px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; //repeat doesn't work in IE 11
    grid-template-rows: auto auto auto auto auto;
}

.calendar__both {
    display: flex;
    padding: 24px 58px 0 58px;
    justify-content: space-between;
}

.day {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    background-color: white;
    border: none;
    position: relative;
    padding: 0;
}

.day.available:hover {
    background-color:#e1f5fe;
    color: #333;
    border: 1px solid #039be5;
}

.selected {
    color: #fff;
    background-color: #039be5;
    border: 1px solid #039be5;
}
.selected:hover {
    background-color: white;
    color: #333;
}
.inrange {
    background-color: #e1f5fe;
    border-radius: 0;
}
.inrange:hover {
    border-radius: 100%; 
}
.inrange::before, .inrange::after, .end::before, .start::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #e1f5fe;
    z-index: -1;
}

.inrange::before, .end::before {
    left: 0;
}

.inrange::after, .start::after {
    right: 0;
}
.disabled {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}