@import 'blocks/calendar';

*, *::after, *::before {
    box-sizing: border-box;
}

.calendar {
    width: 280px;
}

.calendar__grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; //repeat doesn't work in IE 11
    grid-template-rows: auto auto auto auto auto;
}

.day {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
}